{% extends 'base.html.twig' %}

{% block body %}

<h2>{{post.title}}</h2>
    
    <p>Théme : {{post.theme.name}}</p>
    <p>{{post.content}}</p>
    <img src="{{ asset('upload/post/' ~ post.image)}}" alt="Pottok">
    

  <button><a href="{{ path('app_post')}}">Retour posts</a></button>

{% endblock %}