{% extends 'base.html.twig' %}

{% block body %}

<div class="postDetail">

    <h2>{{post.title}}</h2>
    
    <p>Théme : {{post.theme.name}}</p>
    <p>{{post.content}}</p>

    <img src="{{ asset('upload/post/' ~ post.image) }}" alt="">
  
  <div class="postActions">
    <button><a href="{{ path('app_post')}}">Retour posts</a></button>
    <button><a href="{{ path('app_comment_new', {'id': post.id})}}"> Ajouter un commentaire </a></button>
    {% include "post/_form_delete.html.twig" %}
  </div>
  


  <div class="commentSection">
    {% for comment in comments %}
      <p> {{comment.content}} </p>
    {% endfor %}
  </div>
</div>


{% endblock %}